{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<h2 class="text-success">Reset Your Password</h2>

{% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Reset My Password"></p>
    </form>
{% else %}
    <p>The password reset link you entered was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}
